*{
    margin: 0;
    padding: 0;
}
.container{
    height: 400px;
    width: 660px;
    position: absolute;
}
.navbar{
    width: 100%;
    height: 16%;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo{
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 15px;
    margin-top: 30px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(7, 196, 0);
    font-weight: 1000;
    font-size: large;

}
#img{
    height: 440px;
    position:flex;
    margin-top: 0px;
    margin-left: 584px;
}
nav{
    margin-left: 110px;
}
h1{
    background: none;
    margin-top: 20px;
    margin-left: -38px;
}
h2{
    font-size: 22px;
    margin-left: 40px;
    margin-top: 5px;
    color: #797e78;
}
#sign_up{
    background-color: black;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
}
.container2{
    background:black;
    display: block;
    height: 197px;
    width: 1346px;
    margin-top: 0px;
    position: absolute;
    padding-top: 15px;
    padding-left: 20px;
}
.banner{
    color: #1d221c;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: bold;
    
}
span::before{
    content: '';
    animation: animate infinite 10s;
}
@keyframes animate{
    0%{
        content: 'Nightout?';
    }20%{
        content: 'Hungry?';
    }40%{
        content: 'Unexpected guests?';
    }60%{
        content: 'Cooking gone wrong?';
    }80%{
        content: 'Movie marathion?';
    }90%{
        content: 'Late night at office?';
    }100%{
        content: 'sunday?';
    }
}
form input {
    margin-left: 40px;
    outline: none;
    border: solid;
    padding: 10px 50px;
    border-color: black;
}
form button{
    outline: none;
    border: solid;
    padding: 10px 15px ;
    color: #000000;
    background: #1f9c00;
    cursor: pointer;
    margin-left: -8px;

}
form button:hover{
    transform: scale(1.02);
    z-index: 1;
}
form{
    margin-top: 25px;
}
nav ul li:hover{
    transform: scale(1.04);
}
.min img{
    height: 90px;
    border-radius: 50%;
    width: 90px;
    margin-left: 150px;
    position: absolute;
}

.locate img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 620px;
    position: absolute;
}


.fast img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 620px;
    position: absolute;
    margin-left: 1080px;
}
.text_min{
    color: aliceblue;
    font-size: 10px;
    margin-top: 70px;
    margin-left: 120px;
    position: absolute;
}
.p_min{
    color: #1f9c00;
    margin-top: 125px;
    margin-left: 59px;
    font-size: 15px;
    position: absolute;
}
.text_fast{
    color: aliceblue;
    margin-top: 89px;
    font-size: 10px;
    margin-left: 585px;
}
.p_fast{
    color: #1f9c00;
    margin-top: 13px;
    font-size: 15px;
    margin-left: 520px;
}

.text_locate{
    color: aliceblue;
    margin-top: -94px;
    font-size: 10px;
    margin-left: 1040px;
}
.p_locate{
    color: #1f9c00;
    margin-top: 12px;
    font-size: 15px;
    margin-left: 985px;
}
.cities{
    font-size: 10px;
    margin-left: 80px;
    color: rgb(77, 77, 77);
}
.para {
    font-size: 13px;
    margin-left: 40px;
    margin-top: 10px;
    color: black;
}